.user-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .user-card-text {
    display: flex;
    flex-direction: column;
  }

  .user-card-button {
    margin-left: 1rem;
  }

  .friend-apply-button {
    // background-color: #ff5757; /* 배경색을 붉은색으로 변경합니다 */
    //그라데이션 효과 주기
    background-image: linear-gradient(to right top, #ff5c5c, #ad6dfc);
    color: white; /* 텍스트 색상을 흰색으로 변경합니다 */
    border: none;
    border-radius: 15px;
    padding: 10px 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s ease;
    font-size: 0.8rem; /* 텍스트 크기를 약간 증가시킵니다 */
  }

  .smile-watch-button {
    // background-color: #ff5757; /* 배경색을 붉은색으로 변경합니다 */
    //그라데이션 효과 주기
    background-image: linear-gradient(to right top, #ff5c5c, #fcd381);
    color: white; /* 텍스트 색상을 흰색으로 변경합니다 */
    border: none;
    border-radius: 15px;
    padding: 10px 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s ease;
    font-size: 0.8rem; /* 텍스트 크기를 약간 증가시킵니다 */
  }

  .friend-apply-button:active,
  .smile-watch-button:active {
    // background-color: #ff1e1e; /* 배경색을 붉은색으로 변경합니다 */
    //그라데이션 효과 주기
    background-image: linear-gradient(to right top, #ff1111, #da55ff);
  }

  .friend-apply-button.requested {
    background-color: #6c757d; /* 요청됨 상태의 색상 */
    background-image: none;
  }
}
