.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  background-color: #f0f0f0; /* 전체 배경색 설정 */
  border-radius: 10px; /* 모서리를 둥글게 */

  .category-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    transition: transform 0.3s, background-color 0.3s; /* 부드러운 전환 효과 */

    &:hover {
      background-color: #3881ff; /* 호버 시 배경색 변경 */
      color: #fff; /* 호버 시 텍스트 색상 변경 */
      transform: translateY(-5px); /* 살짝 위로 떠오르는 효과 */
      cursor: pointer;
    }

    @media (max-width: 768px) {
      flex: 1 1 100%;
      margin: 10px 0;
    }
  }
}
